<%- include("partials/header.ejs") %>
<h1>Home</h1>
<p><%= homeStartingContent %></p>

<% data.forEach((element)=>{%>
    <h1><%=element.title%></h1>
    <p><%=element.post.substring(0,100)+"..."%></p>
    <a href="<%="/post/"+element.title%>">read more</a>
<%}); %>

<%- include("partials/footer.ejs") %>